{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}

<style type="text/css">
{% block style %}

{% endblock %}
</style>




{% block jumbotron %}   

	{{ block.super }}
{% endblock %}
	
<!-- {{ user }}
{{ request.user }}	
 -->

{% block content %}

<div class="row">
  <div class="col-sm-3 pull-right"> 

		<p class="lead text-align-center">{{ title }}</p>
		<form method="POST" action="">{% csrf_token %}
		<!-- {{ form.as_p }} -->
		{{ form|crispy }}
		<!-- <input type="" name="">
		 -->
		<input class='btn btn-primary' type="submit" name="" value="Sign Up">
		</form>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Created for starters of all kinds</p>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Always Open Source</p>
	</div>
</div>

{% endblock %}